doctype html
html(lang=ja)
  head
    meta(charset="utf-8")
    title= pageTitle
    link(rel="stylesheet", href="log.css")
  body
    - var prev = {updated: new Date(0)}
    .block
      each message in messages
        if Math.round(( message.updated - prev.updated ) / 1000 ) > 4*60*60
          if prev.msg
            != '</div><div class="block">'
          p.date-separator= message.updated.toStringDateHour()
        .line
          if prev.author != message.author || Math.round(( message.updated - prev.updated ) / 1000 ) > 5*60
            p.author(style="color: #"+message.color)
              span.time= message.updated.toStringTime()
              = " "+message.author
          p.msg!=message.msg.sanitize().br()
          each dice in message.dice
            p.dice=dice
          - prev = message
